<h1>Create an Appointment</h1>
<mat-dialog-content>
    <form [formGroup]="appointmentForm">
        <div class="form-group">
            <label for="title" class="form-label">Title of the appointment:</label>
            <input id="title" class="form-control" type="text" formControlName="Title" maxlength="150">
        </div>
        <div class="form-group">
            <label for="duration" class="form-label">Duration of the appointment in minutes:</label>
            <input id="duration" class="form-control" type="number" formControlName="Duration" min="0">
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Description of the appointment:</label>
            <textarea id="description" class="form-control" formControlName="Description"></textarea>
        </div>
        <!-- Conditionally show time input field -->
        <div *ngIf="!isFromRow" class="form-group">
            <label for="time" class="form-label">Time of the appointment:</label>
            <input id="time" class="form-control" type="text" formControlName="Time" placeholder="e.g., 2 PM">
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="cancel" mat-button mat-dialog-close>Cancel</button>
    <button class="create" mat-button (click)="InsertAppointment()">Create</button>
</mat-dialog-actions>
